integrations:
- name: nri-snmp
  env:
    COLLECTION_FILES: /etc/newrelic-infra/integrations.d/snmp-metrics.yml
    COMMUNITY: public
    METRICS: "true"
    SNMP_HOST: localhost
    SNMP_PORT: "161"
  interval: 30s
  labels:
    key1: <LABEL_VALUE>
- name: nri-snmp
  env:
    COLLECTION_FILES: /etc/newrelic-infra/integrations.d/snmp-metrics.yml
    COMMUNITY: public
    INVENTORY: "true"
    SNMP_HOST: localhost
    SNMP_PORT: "161"
  interval: 30s
  labels:
    key1: <LABEL_VALUE>
  inventory_source: config/snmp
